In [2]:
import requests
import pandas as pd
from pprint import pprint
import time
import json
import csv
import math
import numpy

In [3]:
cdc500 = pd.read_csv("500_Cities__Local_Data_for_Better_Health__2018_release.csv", encoding="utf-8")
cdc5002=cdc500[(cdc500['GeographicLevel'] == 'City')&(cdc500['DataValueTypeID'] == 'AgeAdjPrv')&(cdc500['Measure'] == "Visits to doctor for routine checkup within the past Year among adults aged >=18 Years")]
cdc5002['PerYrlyDoc']=cdc5002['Data_Value']
cdcdoc = cdc5002[['StateAbbr','CityName','PerYrlyDoc']]


cdcdoc.head(5)

C:\Users\silva\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     StateAbbr    CityName  PerYrlyDoc
860         AL  Birmingham        76.9
3099        AL      Hoover        72.7
4246        AL  Huntsville        69.1
6191        AL      Mobile        74.1
8285        AL  Montgomery        76.7

In [4]:
#summarize by month by city, then average# of international arrivals by month by city

fldf= pd.read_csv("US International Flight Arrival 2018.csv", encoding="utf-8",usecols=['PASSENGERS','DEST','DEST_CITY_NAME','YEAR','MONTH'])
fldf[['City','State']] = fldf['DEST_CITY_NAME'].str.split(', ',expand=True)
fl= fldf.groupby(['City','State'])[["PASSENGERS"]].sum()
fl

                                  PASSENGERS
City                       State
Abilene                    TX              6
Aguadilla                  PR            905
Akron                      OH             21
Alamogordo                 NM              0
Albany                     NY            342
Albuquerque                NM            672
Alexandria                 LA           2714
Allentown/Bethlehem/Easton PA              7
Altoona                    PA              1
Anchorage                  AK          35869
Anniston                   AL              0
Appleton                   WI              3
Arlington                  TX              0
Asheville                  NC              1
Aspen                      CO              4
Atlanta                    GA        6139421
Atlantic City              NJ           2073
Augusta                    GA            153
Aurora                     CO              0
Austin                     TX         213165
Baltimore                  MD         612226
Bangor                     ME            222
Barrow                     AK            102
Baton Rouge                LA             51
Battle Creek               MI              3
Bay St. Louis              MS              0
Bedford                    MA            374
Bellingham                 WA             10
Beverly                    MA              8
Birmingham                 AL            971
...                                      ...
Stuart                     FL              3
Sugar Land                 TX             18
Sun Valley/Hailey/Ketchum  ID             34
Syracuse                   NY           8204
Tacoma                     WA              0
Talladega                  AL              1
Tampa                      FL         491250
Teterboro                  NJ           1459
Titusville                 FL              0
Toledo                     OH            218
Trenton                    NJ             34
Tucson                     AZ             15
Tulsa                      OK              8
Tuscaloosa                 AL              0
Valparaiso                 FL              0
Van Nuys                   CA            186
Venice                     FL              1
Victorville                CA              0
Waco                       TX              6
Warsaw                     IN              0
Washington                 DC        4118370
Waterloo                   IA              0
Waukegan                   IL              6
West Palm Beach/Palm Beach FL          75207
Westhampton                NY             69
White Plains               NY            934
Wichita                    KS             15
Wilmington                 NC             59
Worcester                  MA              2
Yuma                       AZ              0

[307 rows x 1 columns]

In [5]:
cdcp=pd.read_csv("NationalOutbreakPersonToPerson.csv", encoding="utf-8")
cdcp=cdcp[(cdcp['Etiology Status'] == 'Confirmed')&(cdcp['Year'] == 2017)]
cdcpr= cdcp.groupby(['State'])[["Illnesses"]].sum()

cdcpr

                Illnesses
State
Alabama               688
Alaska                126
Arizona               239
Colorado               54
Connecticut            86
Florida                32
Georgia                25
Hawaii                 48
Illinois             3191
Indiana              1247
Iowa                  453
Kansas                220
Kentucky              386
Louisiana             508
Maine                 338
Maryland               33
Massachusetts         174
Michigan              516
Minnesota             203
Mississippi           282
Missouri              720
Montana               146
Nebraska              236
Nevada                564
New Hampshire         634
New Mexico            220
New York              132
North Carolina        447
North Dakota          138
Ohio                  625
Oregon                590
Pennsylvania         1618
Rhode Island         1093
South Carolina        571
Tennessee             246
Texas                 354
Utah                    8
Vermont                35
Virginia              882
Washington             34
West Virginia         368
Wisconsin            2626
Wyoming               276

In [6]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
states=pd.DataFrame.from_dict(us_state_abbrev,orient='index', columns=['abrev'])
states.reset_index(level=0, inplace=True)
states=states.rename(columns={states.columns[0]:'name'})
states.head()

          name abrev
0  Mississippi    MS
1     Oklahoma    OK
2     Delaware    DE
3    Minnesota    MN
4     Illinois    IL

In [7]:
sub1 = pd.merge(cdcpr, states,  how='left', left_on=['State'], right_on = ['name'])
sub1

    Illnesses            name abrev
0         688         Alabama    AL
1         126          Alaska    AK
2         239         Arizona    AZ
3          54        Colorado    CO
4          86     Connecticut    CT
5          32         Florida    FL
6          25         Georgia    GA
7          48          Hawaii    HI
8        3191        Illinois    IL
9        1247         Indiana    IN
10        453            Iowa    IA
11        220          Kansas    KS
12        386        Kentucky    KY
13        508       Louisiana    LA
14        338           Maine    ME
15         33        Maryland    MD
16        174   Massachusetts    MA
17        516        Michigan    MI
18        203       Minnesota    MN
19        282     Mississippi    MS
20        720        Missouri    MO
21        146         Montana    MT
22        236        Nebraska    NE
23        564          Nevada    NV
24        634   New Hampshire    NH
25        220      New Mexico    NM
26        132        New York    NY
27        447  North Carolina    NC
28        138    North Dakota    ND
29        625            Ohio    OH
30        590          Oregon    OR
31       1618    Pennsylvania    PA
32       1093    Rhode Island    RI
33        571  South Carolina    SC
34        246       Tennessee    TN
35        354           Texas    TX
36          8            Utah    UT
37         35         Vermont    VT
38        882        Virginia    VA
39         34      Washington    WA
40        368   West Virginia    WV
41       2626       Wisconsin    WI
42        276         Wyoming    WY

In [8]:
sub2 = pd.merge(cdcdoc, sub1,  how='left', left_on=['StateAbbr'], right_on = ['abrev'])
sub2 = sub2.drop(columns=["name", "abrev"])

sub2.head()

  StateAbbr    CityName  PerYrlyDoc  Illnesses
0        AL  Birmingham        76.9      688.0
1        AL      Hoover        72.7      688.0
2        AL  Huntsville        69.1      688.0
3        AL      Mobile        74.1      688.0
4        AL  Montgomery        76.7      688.0

In [9]:
sub3 = pd.merge(sub2, fl,  how='left', left_on=['StateAbbr','CityName'], right_on = ['State','City'])
sub3.sort_values(by='PASSENGERS', ascending=False)
sub3.head()

  StateAbbr    CityName  PerYrlyDoc  Illnesses  PASSENGERS
0        AL  Birmingham        76.9      688.0       971.0
1        AL      Hoover        72.7      688.0         NaN
2        AL  Huntsville        69.1      688.0        19.0
3        AL      Mobile        74.1      688.0         NaN
4        AL  Montgomery        76.7      688.0         NaN

In [10]:
citypop= pd.read_csv("popcsv.csv", encoding="utf-8",usecols=['city','region','population'])
citypop['city']=citypop['city'].str.title()
citypop.head()

         city  population region
0      Lynden     10816.0     WA
1    Ferndale     10098.0     WA
2  Bellingham     73469.0     WA
3       Havre      9379.0     MT
4   Anacortes     16061.0     WA

In [11]:
sub4 = pd.merge(sub3, citypop,  how='left', left_on=['StateAbbr','CityName'], right_on = ['region','city'])

sub4['perNoYrly']=100-sub4['PerYrlyDoc']
sub4['Ycity']=sub4['CityName']+", "+sub4['StateAbbr']
sub4 = sub4.drop(columns=["city", "region",'PerYrlyDoc'])
sub4.sort_values(by='population', ascending=False)
#sub4=sub4.dropna(subset=['PASSENGERS'])
sub4=sub4.fillna(0)

sub4.head()

,StateAbbr,CityName,Illnesses,PASSENGERS,population,perNoYrly,Ycity
0,AL,Birmingham,688.0,971.0,231621.0,23.1,"Birmingham, AL"
1,AL,Hoover,688.0,0.0,66752.0,27.3,"Hoover, AL"
2,AL,Huntsville,688.0,19.0,167528.0,30.9,"Huntsville, AL"
3,AL,Mobile,688.0,0.0,190274.0,25.9,"Mobile, AL"
4,AL,Montgomery,688.0,0.0,198325.0,23.3,"Montgomery, AL"

In [31]:
den=pd.read_csv("popden.csv", encoding="utf-8")
den['City'] = den['City'].str.strip()
den.head()

   Unnamed: 0      DENSITY   POP          City      State abrev
0        7349   421.729903  1924        Zwolle  Louisiana    LA
1        6002   570.717135    93       Zwingle       Iowa    IA
2        6629   527.183919    95        Zurich     Kansas    KS
3        8969  1265.090805  3455      Zumbrota  Minnesota    MN
4        8968   437.118017   240  Zumbro Falls  Minnesota    MN

In [40]:
sub5 = pd.merge(sub4, den,  how='left', left_on=['StateAbbr','CityName'], right_on = ['abrev','City'])
sub5 = sub5[sub5.StateAbbr != 'HI']
sub5 = sub5[sub5.StateAbbr != 'AK']
sub5 = sub5.drop(columns=['StateAbbr','CityName',"City", 'StateAbbr','CityName','abrev','State'])
sub5=sub5.fillna(0)

sub5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 499
Data columns (total 8 columns):
Illnesses     498 non-null float64
PASSENGERS    498 non-null float64
population    498 non-null float64
perNoYrly     498 non-null float64
Ycity         498 non-null object
Unnamed: 0    498 non-null float64
DENSITY       498 non-null float64
POP           498 non-null float64
dtypes: float64(7), object(1)
memory usage: 35.0+ KB

In [41]:
sub6 = sub5[sub5.POP != 0]
sub6=sub6.sort_values(by='POP')
sub6.head(20)

,Illnesses,PASSENGERS,population,perNoYrly,Ycity,Unnamed: 0,DENSITY,POP
465,35.0,496.0,38601.0,34.4,"Burlington, VT",18017.0,4162.364871,42899.0
491,368.0,0.0,50427.0,20.8,"Charleston, WV",18604.0,1498.845991,47215.0
499,276.0,0.0,55443.0,36.6,"Cheyenne, WY",19410.0,2244.368331,63957.0
370,625.0,0.0,77540.0,23.7,"Youngstown, OH",13762.0,1914.416090,64958.0
344,132.0,0.0,60280.0,26.5,"Schenectady, NY",11813.0,6076.186607,65575.0
266,338.0,11.0,63142.0,29.7,"Portland, ME",7365.0,3079.285585,66417.0
261,508.0,0.0,69721.0,28.1,"Kenner, LA",7192.0,4479.519520,66657.0
101,0.0,0.0,67791.0,32.8,"Redondo Beach, CA",1543.0,10877.264583,67412.0
340,132.0,0.0,68137.0,24.4,"Mount Vernon, NY",11678.0,15417.560565,67593.0
251,453.0,0.0,65836.0,30.3,"Waterloo, IA",5947.0,1102.564796,67798.0
229,3191.0,0.0,67828.0,31.4,"Palatine, IL",4091.0,4997.130926,68053.0
333,0.0,0.0,66121.0,25.0,"Union City, NJ",11194.0,53239.686849,68520.0
244,1247.0,0.0,65327.0,32.2,"Muncie, IN",4837.0,2500.511264,68529.0
330,0.0,0.0,68845.0,25.1,"Passaic, NJ",11113.0,22326.607741,69948.0
363,625.0,0.0,78160.0,25.2,"Canton, OH",12970.0,2730.211840,70458.0
75,0.0,0.0,72397.0,35.0,"Lynwood, CA",1446.0,14566.818879,70504.0
167,0.0,0.0,71356.0,22.5,"Wilmington, DE",2039.0,6477.836581,70635.0
224,3191.0,0.0,77868.0,31.3,"Decatur, IL",3486.0,1684.554293,71290.0
100,0.0,0.0,70287.0,34.0,"Redlands, CA",1542.0,1997.427992,71586.0
393,1093.0,0.0,74965.0,19.0,"Pawtucket, RI",15613.0,8289.385426,71847.0

In [42]:
sub6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 465 to 342
Data columns (total 8 columns):
Illnesses     497 non-null float64
PASSENGERS    497 non-null float64
population    497 non-null float64
perNoYrly     497 non-null float64
Ycity         497 non-null object
Unnamed: 0    497 non-null float64
DENSITY       497 non-null float64
POP           497 non-null float64
dtypes: float64(7), object(1)
memory usage: 34.9+ KB

In [43]:
sub6.to_csv("datatotest.csv", encoding="utf-8" )

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [87]:
X_train.head()

     Illnesses  PASSENGERS       POP  perNoYrly      DENSITY
17         0.0    109065.0  181107.0       35.1  3624.828376
113     1093.0    101575.0  179335.0       18.9  9741.908813
143       34.0        28.0  219190.0       37.5  3187.438998
69       174.0         2.0  185877.0       22.0  4975.346092
75       203.0   1493924.0  425403.0       30.8  7877.719104

In [88]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [89]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train.ravel())


rf.score(X_test_scaled, y_test)

0.0

In [82]:
feature_names=X.columns
importantDict=sorted(zip(rf.feature_importances_, feature_names), reverse=True)
importantDict

[(0.26244628154918376, u'POP'),
 (0.26127091763697696, u'DENSITY'),
 (0.2599693556386215, 'perNoYrly'),
 (0.13540928330728008, 'Illnesses'),
 (0.08090416186793763, 'PASSENGERS')]