In [89]:
import requests
import pandas as pd
from pprint import pprint
import time
import json
import csv
import math
import numpy

In [90]:
cdc500 = pd.read_csv("500_Cities__Local_Data_for_Better_Health__2018_release.csv", encoding="utf-8")
cdc5002=cdc500[(cdc500['GeographicLevel'] == 'City')&(cdc500['DataValueTypeID'] == 'AgeAdjPrv')&(cdc500['Measure'] == "Visits to doctor for routine checkup within the past Year among adults aged >=18 Years")]
cdc5002['PerYrlyDoc']=cdc5002['Data_Value']
cdcdoc = cdc5002[['StateAbbr','CityName','PerYrlyDoc']]


cdcdoc.head(5)

C:\Users\silva\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     StateAbbr    CityName  PerYrlyDoc
860         AL  Birmingham        76.9
3099        AL      Hoover        72.7
4246        AL  Huntsville        69.1
6191        AL      Mobile        74.1
8285        AL  Montgomery        76.7

In [91]:
#summarize by month by city, then average# of international arrivals by month by city

fldf= pd.read_csv("US International Flight Arrival 2018.csv", encoding="utf-8",usecols=['PASSENGERS','DEST','DEST_CITY_NAME','YEAR','MONTH'])
fldf[['City','State']] = fldf['DEST_CITY_NAME'].str.split(', ',expand=True)
fl= fldf.groupby(['City','State'])[["PASSENGERS"]].sum()
fl

                                  PASSENGERS
City                       State
Abilene                    TX              6
Aguadilla                  PR            905
Akron                      OH             21
Alamogordo                 NM              0
Albany                     NY            342
Albuquerque                NM            672
Alexandria                 LA           2714
Allentown/Bethlehem/Easton PA              7
Altoona                    PA              1
Anchorage                  AK          35869
Anniston                   AL              0
Appleton                   WI              3
Arlington                  TX              0
Asheville                  NC              1
Aspen                      CO              4
Atlanta                    GA        6139421
Atlantic City              NJ           2073
Augusta                    GA            153
Aurora                     CO              0
Austin                     TX         213165
Baltimore                  MD         612226
Bangor                     ME            222
Barrow                     AK            102
Baton Rouge                LA             51
Battle Creek               MI              3
Bay St. Louis              MS              0
Bedford                    MA            374
Bellingham                 WA             10
Beverly                    MA              8
Birmingham                 AL            971
...                                      ...
Stuart                     FL              3
Sugar Land                 TX             18
Sun Valley/Hailey/Ketchum  ID             34
Syracuse                   NY           8204
Tacoma                     WA              0
Talladega                  AL              1
Tampa                      FL         491250
Teterboro                  NJ           1459
Titusville                 FL              0
Toledo                     OH            218
Trenton                    NJ             34
Tucson                     AZ             15
Tulsa                      OK              8
Tuscaloosa                 AL              0
Valparaiso                 FL              0
Van Nuys                   CA            186
Venice                     FL              1
Victorville                CA              0
Waco                       TX              6
Warsaw                     IN              0
Washington                 DC        4118370
Waterloo                   IA              0
Waukegan                   IL              6
West Palm Beach/Palm Beach FL          75207
Westhampton                NY             69
White Plains               NY            934
Wichita                    KS             15
Wilmington                 NC             59
Worcester                  MA              2
Yuma                       AZ              0

[307 rows x 1 columns]

In [92]:
cdcp=pd.read_csv("NationalOutbreakPersonToPerson.csv", encoding="utf-8")
cdcp=cdcp[(cdcp['Etiology Status'] == 'Confirmed')&(cdcp['Year'] == 2017)]
cdcpr= cdcp.groupby(['State'])[["Illnesses"]].sum()

cdcpr

                Illnesses
State
Alabama               688
Alaska                126
Arizona               239
Colorado               54
Connecticut            86
Florida                32
Georgia                25
Hawaii                 48
Illinois             3191
Indiana              1247
Iowa                  453
Kansas                220
Kentucky              386
Louisiana             508
Maine                 338
Maryland               33
Massachusetts         174
Michigan              516
Minnesota             203
Mississippi           282
Missouri              720
Montana               146
Nebraska              236
Nevada                564
New Hampshire         634
New Mexico            220
New York              132
North Carolina        447
North Dakota          138
Ohio                  625
Oregon                590
Pennsylvania         1618
Rhode Island         1093
South Carolina        571
Tennessee             246
Texas                 354
Utah                    8
Vermont                35
Virginia              882
Washington             34
West Virginia         368
Wisconsin            2626
Wyoming               276

In [93]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
states=pd.DataFrame.from_dict(us_state_abbrev,orient='index', columns=['abrev'])
states.reset_index(level=0, inplace=True)
states=states.rename(columns={states.columns[0]:'name'})
states.head()

          name abrev
0  Mississippi    MS
1     Oklahoma    OK
2     Delaware    DE
3    Minnesota    MN
4     Illinois    IL

In [94]:
sub1 = pd.merge(cdcpr, states,  how='left', left_on=['State'], right_on = ['name'])
sub1

    Illnesses            name abrev
0         688         Alabama    AL
1         126          Alaska    AK
2         239         Arizona    AZ
3          54        Colorado    CO
4          86     Connecticut    CT
5          32         Florida    FL
6          25         Georgia    GA
7          48          Hawaii    HI
8        3191        Illinois    IL
9        1247         Indiana    IN
10        453            Iowa    IA
11        220          Kansas    KS
12        386        Kentucky    KY
13        508       Louisiana    LA
14        338           Maine    ME
15         33        Maryland    MD
16        174   Massachusetts    MA
17        516        Michigan    MI
18        203       Minnesota    MN
19        282     Mississippi    MS
20        720        Missouri    MO
21        146         Montana    MT
22        236        Nebraska    NE
23        564          Nevada    NV
24        634   New Hampshire    NH
25        220      New Mexico    NM
26        132        New York    NY
27        447  North Carolina    NC
28        138    North Dakota    ND
29        625            Ohio    OH
30        590          Oregon    OR
31       1618    Pennsylvania    PA
32       1093    Rhode Island    RI
33        571  South Carolina    SC
34        246       Tennessee    TN
35        354           Texas    TX
36          8            Utah    UT
37         35         Vermont    VT
38        882        Virginia    VA
39         34      Washington    WA
40        368   West Virginia    WV
41       2626       Wisconsin    WI
42        276         Wyoming    WY

In [95]:
sub2 = pd.merge(cdcdoc, sub1,  how='left', left_on=['StateAbbr'], right_on = ['abrev'])
sub2

    StateAbbr        CityName  PerYrlyDoc  Illnesses           name abrev
0          AL      Birmingham        76.9      688.0        Alabama    AL
1          AL          Hoover        72.7      688.0        Alabama    AL
2          AL      Huntsville        69.1      688.0        Alabama    AL
3          AL          Mobile        74.1      688.0        Alabama    AL
4          AL      Montgomery        76.7      688.0        Alabama    AL
5          AL      Tuscaloosa        74.7      688.0        Alabama    AL
6          AK       Anchorage        58.8      126.0         Alaska    AK
7          AZ        Avondale        66.2      239.0        Arizona    AZ
8          AZ        Chandler        66.9      239.0        Arizona    AZ
9          AZ         Gilbert        66.9      239.0        Arizona    AZ
10         AZ        Glendale        65.8      239.0        Arizona    AZ
11         AZ            Mesa        65.8      239.0        Arizona    AZ
12         AZ          Peoria        66.4      239.0        Arizona    AZ
13         AZ         Phoenix        65.8      239.0        Arizona    AZ
14         AZ      Scottsdale        66.9      239.0        Arizona    AZ
15         AZ        Surprise        66.5      239.0        Arizona    AZ
16         AZ           Tempe        66.5      239.0        Arizona    AZ
17         AZ          Tucson        66.3      239.0        Arizona    AZ
18         AZ            Yuma        64.9      239.0        Arizona    AZ
19         AR    Fayetteville        68.4        NaN            NaN   NaN
20         AR      Fort Smith        70.1        NaN            NaN   NaN
21         AR       Jonesboro        70.4        NaN            NaN   NaN
22         AR     Little Rock        73.7        NaN            NaN   NaN
23         AR      Springdale        67.0        NaN            NaN   NaN
24         CA         Alameda        66.6        NaN            NaN   NaN
25         CA        Alhambra        66.7        NaN            NaN   NaN
26         CA         Anaheim        65.2        NaN            NaN   NaN
27         CA         Antioch        64.5        NaN            NaN   NaN
28         CA    Apple Valley        65.3        NaN            NaN   NaN
29         CA     Bakersfield        63.1        NaN            NaN   NaN
..        ...             ...         ...        ...            ...   ...
470        VA    Newport News        75.6      882.0       Virginia    VA
471        VA         Norfolk        76.6      882.0       Virginia    VA
472        VA      Portsmouth        77.2      882.0       Virginia    VA
473        VA        Richmond        74.8      882.0       Virginia    VA
474        VA         Roanoke        74.5      882.0       Virginia    VA
475        VA         Suffolk        77.1      882.0       Virginia    VA
476        VA  Virginia Beach        74.1      882.0       Virginia    VA
477        WA          Auburn        60.8       34.0     Washington    WA
478        WA        Bellevue        62.2       34.0     Washington    WA
479        WA      Bellingham        57.5       34.0     Washington    WA
480        WA         Everett        59.3       34.0     Washington    WA
481        WA     Federal Way        61.5       34.0     Washington    WA
482        WA       Kennewick        60.0       34.0     Washington    WA
483        WA            Kent        61.3       34.0     Washington    WA
484        WA          Renton        62.1       34.0     Washington    WA
485        WA         Seattle        62.2       34.0     Washington    WA
486        WA         Spokane        62.5       34.0     Washington    WA
487        WA  Spokane Valley        62.5       34.0     Washington    WA
488        WA          Tacoma        63.8       34.0     Washington    WA
489        WA       Vancouver        61.6       34.0     Washington    WA
490        WA          Yakima        58.2       34.0     Washington    WA
491        WV      Charleston        79.2      368.0  West Virginia    WV
492        WI        Appleton        69.5     2626.0      Wisconsin    WI
493        WI       Green Bay        69.7     2626.0      Wisconsin    WI
494        WI         Kenosha        70.1     2626.0      Wisconsin    WI
495        WI         Madison        69.0     2626.0      Wisconsin    WI
496        WI       Milwaukee        73.2     2626.0      Wisconsin    WI
497        WI          Racine        70.9     2626.0      Wisconsin    WI
498        WI        Waukesha        68.0     2626.0      Wisconsin    WI
499        WY        Cheyenne        63.4      276.0        Wyoming    WY

[500 rows x 6 columns]

In [96]:
sub3 = pd.merge(sub2, fl,  how='left', left_on=['StateAbbr','CityName'], right_on = ['State','City'])
sub3

,StateAbbr,CityName,PerYrlyDoc,Illnesses,name,abrev,PASSENGERS
0,AL,Birmingham,76.9,688.0,Alabama,AL,971.0
1,AL,Hoover,72.7,688.0,Alabama,AL,NaN
2,AL,Huntsville,69.1,688.0,Alabama,AL,19.0
3,AL,Mobile,74.1,688.0,Alabama,AL,NaN
4,AL,Montgomery,76.7,688.0,Alabama,AL,NaN
5,AL,Tuscaloosa,74.7,688.0,Alabama,AL,0.0
6,AK,Anchorage,58.8,126.0,Alaska,AK,35869.0
7,AZ,Avondale,66.2,239.0,Arizona,AZ,NaN
8,AZ,Chandler,66.9,239.0,Arizona,AZ,NaN
9,AZ,Gilbert,66.9,239.0,Arizona,AZ,NaN
10,AZ,Glendale,65.8,239.0,Arizona,AZ,NaN
11,AZ,Mesa,65.8,239.0,Arizona,AZ,NaN
12,AZ,Peoria,66.4,239.0,Arizona,AZ,NaN
13,AZ,Phoenix,65.8,239.0,Arizona,AZ,1050423.0
14,AZ,Scottsdale,66.9,239.0,Arizona,AZ,NaN
15,AZ,Surprise,66.5,239.0,Arizona,AZ,NaN
16,AZ,Tempe,66.5,239.0,Arizona,AZ,NaN
17,AZ,Tucson,66.3,239.0,Arizona,AZ,15.0
18,AZ,Yuma,64.9,239.0,Arizona,AZ,0.0
19,AR,Fayetteville,68.4,NaN,NaN,NaN,2.0
20,AR,Fort Smith,70.1,NaN,NaN,NaN,NaN
21,AR,Jonesboro,70.4,NaN,NaN,NaN,NaN
22,AR,Little Rock,73.7,NaN,NaN,NaN,70.0
23,AR,Springdale,67.0,NaN,NaN,NaN,NaN
24,CA,Alameda,66.6,NaN,NaN,NaN,NaN
25,CA,Alhambra,66.7,NaN,NaN,NaN,NaN
26,CA,Anaheim,65.2,NaN,NaN,NaN,NaN
27,CA,Antioch,64.5,NaN,NaN,NaN,NaN
28,CA,Apple Valley,65.3,NaN,NaN,NaN,NaN
29,CA,Bakersfield,63.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
470,VA,Newport News,75.6,882.0,Virginia,VA,NaN
471,VA,Norfolk,76.6,882.0,Virginia,VA,581.0
472,VA,Portsmouth,77.2,882.0,Virginia,VA,NaN
473,VA,Richmond,74.8,882.0,Virginia,VA,820.0
474,VA,Roanoke,74.5,882.0,Virginia,VA,NaN
475,VA,Suffolk,77.1,882.0,Virginia,VA,NaN
476,VA,Virginia Beach,74.1,882.0,Virginia,VA,NaN
477,WA,Auburn,60.8,34.0,Washington,WA,NaN
478,WA,Bellevue,62.2,34.0,Washington,WA,NaN
479,WA,Bellingham,57.5,34.0,Washington,WA,10.0
480,WA,Everett,59.3,34.0,Washington,WA,0.0
481,WA,Federal Way,61.5,34.0,Washington,WA,NaN
482,WA,Kennewick,60.0,34.0,Washington,WA,NaN
483,WA,Kent,61.3,34.0,Washington,WA,NaN
484,WA,Renton,62.1,34.0,Washington,WA,NaN
485,WA,Seattle,62.2,34.0,Washington,WA,2637820.0
486,WA,Spokane,62.5,34.0,Washington,WA,28.0
487,WA,Spokane Valley,62.5,34.0,Washington,WA,NaN
488,WA,Tacoma,63.8,34.0,Washington,WA,0.0
489,WA,Vancouver,61.6,34.0,Washington,WA,NaN
490,WA,Yakima,58.2,34.0,Washington,WA,NaN
491,WV,Charleston,79.2,368.0,West Virginia,WV,NaN
492,WI,Appleton,69.5,2626.0,Wisconsin,WI,3.0
493,WI,Green Bay,69.7,2626.0,Wisconsin,WI,87.0
494,WI,Kenosha,70.1,2626.0,Wisconsin,WI,NaN
495,WI,Madison,69.0,2626.0,Wisconsin,WI,312.0
496,WI,Milwaukee,73.2,2626.0,Wisconsin,WI,32165.0
497,WI,Racine,70.9,2626.0,Wisconsin,WI,NaN
498,WI,Waukesha,68.0,2626.0,Wisconsin,WI,NaN
499,WY,Cheyenne,63.4,276.0,Wyoming,WY,NaN

In [98]:
sub3.sort_values(by='PASSENGERS', ascending=False)

,StateAbbr,CityName,PerYrlyDoc,Illnesses,name,abrev,PASSENGERS
342,NY,New York,74.2,132.0,New York,NY,17765774.0
74,CA,Los Angeles,66.2,NaN,NaN,NaN,12563882.0
186,FL,Miami,74.7,32.0,Florida,FL,10510175.0
222,IL,Chicago,70.9,3191.0,Illinois,IL,7206592.0
112,CA,San Francisco,65.0,NaN,NaN,NaN,6975787.0
329,NJ,Newark,80.2,NaN,NaN,NaN,6811083.0
204,GA,Atlanta,76.6,25.0,Georgia,GA,6139421.0
429,TX,Houston,69.3,354.0,Texas,TX,5721170.0
177,FL,Fort Lauderdale,76.1,32.0,Florida,FL,4258984.0
168,DC,Washington,80.0,NaN,NaN,NaN,4118370.0
268,MA,Boston,76.7,174.0,Massachusetts,MA,3590330.0
190,FL,Orlando,73.5,32.0,Florida,FL,3218882.0
485,WA,Seattle,62.2,34.0,Washington,WA,2637820.0
213,HI,Honolulu,70.9,48.0,Hawaii,HI,2317394.0
388,PA,Philadelphia,74.3,1618.0,Pennsylvania,PA,1931310.0
283,MI,Detroit,76.9,516.0,Michigan,MI,1870908.0
319,NV,Las Vegas,68.5,564.0,Nevada,NV,1812583.0
349,NC,Charlotte,75.5,447.0,North Carolina,NC,1577659.0
300,MN,Minneapolis,69.2,203.0,Minnesota,MN,1493924.0
150,CO,Denver,61.3,54.0,Colorado,CO,1470685.0
13,AZ,Phoenix,65.8,239.0,Arizona,AZ,1050423.0
267,MD,Baltimore,77.0,33.0,Maryland,MD,612226.0
111,CA,San Diego,65.4,NaN,NaN,NaN,520422.0
461,UT,Salt Lake City,63.4,8.0,Utah,UT,491979.0
200,FL,Tampa,74.2,32.0,Florida,FL,491250.0
113,CA,San Jose,64.6,NaN,NaN,NaN,485796.0
88,CA,Oakland,67.7,NaN,NaN,NaN,475418.0
383,OR,Portland,61.7,590.0,Oregon,OR,435201.0
413,TX,Austin,67.1,354.0,Texas,TX,213165.0
451,TX,San Antonio,69.5,354.0,Texas,TX,203750.0
...,...,...,...,...,...,...,...
456,UT,Layton,63.0,8.0,Utah,UT,NaN
458,UT,Orem,58.0,8.0,Utah,UT,NaN
459,UT,Provo,57.9,8.0,Utah,UT,NaN
460,UT,St. George,60.2,8.0,Utah,UT,NaN
462,UT,Sandy,63.9,8.0,Utah,UT,NaN
463,UT,West Jordan,63.4,8.0,Utah,UT,NaN
464,UT,West Valley City,62.4,8.0,Utah,UT,NaN
466,VA,Alexandria,73.1,882.0,Virginia,VA,NaN
467,VA,Chesapeake,76.3,882.0,Virginia,VA,NaN
468,VA,Hampton,78.1,882.0,Virginia,VA,NaN
469,VA,Lynchburg,74.3,882.0,Virginia,VA,NaN
470,VA,Newport News,75.6,882.0,Virginia,VA,NaN
472,VA,Portsmouth,77.2,882.0,Virginia,VA,NaN
474,VA,Roanoke,74.5,882.0,Virginia,VA,NaN
475,VA,Suffolk,77.1,882.0,Virginia,VA,NaN
476,VA,Virginia Beach,74.1,882.0,Virginia,VA,NaN
477,WA,Auburn,60.8,34.0,Washington,WA,NaN
478,WA,Bellevue,62.2,34.0,Washington,WA,NaN
481,WA,Federal Way,61.5,34.0,Washington,WA,NaN
482,WA,Kennewick,60.0,34.0,Washington,WA,NaN
483,WA,Kent,61.3,34.0,Washington,WA,NaN
484,WA,Renton,62.1,34.0,Washington,WA,NaN
487,WA,Spokane Valley,62.5,34.0,Washington,WA,NaN
489,WA,Vancouver,61.6,34.0,Washington,WA,NaN
490,WA,Yakima,58.2,34.0,Washington,WA,NaN
491,WV,Charleston,79.2,368.0,West Virginia,WV,NaN
494,WI,Kenosha,70.1,2626.0,Wisconsin,WI,NaN
497,WI,Racine,70.9,2626.0,Wisconsin,WI,NaN
498,WI,Waukesha,68.0,2626.0,Wisconsin,WI,NaN
499,WY,Cheyenne,63.4,276.0,Wyoming,WY,NaN